<!DOCTYPE html>
<html>

<head>
 <meta charset="utf-8">
 <link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css">
 <title>Senses UnB</title>
</head>

<body>
 <div id="menu">
  <div class="wrapper">
   <div class="navigation">
    <a href="#about">quem somos</a>
    <a href="#team">nossa equipe</a>
    <a href="#join">como participar</a>
    <a href="#contact">contato</a>
   </div>
  </div>
 </div>

 <div id="welcome">
  <div class="logo">
   <div class="calling">
    <b>O futuro da saúde é agora<br></b> e está sendo feito por todos nós,
    <br> em todos os lugares.
   </div>
  </div>
 </div>

 <div id="about">
  <div class="title">
   <div class="wrapper">
    <h1><b>quem</b>somos?</h1>
   </div>
  </div>
  <div class="wrapper first">
   <div class="column-3 italic">
    Somos o Capítulo de Engenharia Biomédica da Universidade de Brasília, trazendo para você oportunidades e informações acerca da Engenharia Biomédica no mundo e em Brasília.
   </div>
   <div class="column-3">
    <h2>O que?</h2>
    <p>A Senses, antes de tudo, é um conglomerado de apaixonados. Apaixonados pela ideia de transformar vidas, por meio da inovação pautada na harmonia entre as diversas áreas de conhecimento que a Engenharia Biomédica coleciona.</p>
    <p>Transformando e adaptando os sentidos humanos, a Senses quer levar a iniciativa biomédica para o dia a dia, para os corredores da Universidade, somando esforços de alunos, professores e membros da comunidade local afim de levantar o estandarte: O
     futuro da saúde é agora e está sendo feito por todos nós, em todos os lugares.</p>
   </div>
   <div class="column-3">
    <h2>Como?</h2>
    <p>A Senses se baseia sobre 3 pilares fundamentais de trabalho. Nós almejamos o desenvolvimento de tecnologias assistivas, healthcare e transumanistas, contando com o trabalho colaborativo de estudantes e professores afim de construir produtos reais
     para a nossa comunidade e a comunidade global, sempre deixando nosso conhecimento acessível na internet.</p>
    <p>Dessa forma, nós queremos atingir o desenvolvimento acadêmico, tendo como norte a responsabilidade social que nosso trabalho exige, e somando a nossa força àqueles que já produzem conhecimento e aos que desejam dedicar-se ao mesmo propósito.</p>
   </div>
  </div>
 </div>
 </div>

 <div class="icons">
  <div class="wrapper">
   <div class="icon one">
    <div class="descript">
     desenvolvimento de tecnologias assistivas, healthcare e transumanistas
    </div>
   </div>
   <div class="icon two">
    <div class="descript">
     construir produtos reais para a nossa comunidade e a comunidade global
    </div>
   </div>
   <div class="icon three">
    <div class="descript">
     trabalho colaborativo de estudantes e professores
    </div>
   </div>
  </div>
 </div>

 <div id="about-ieee">
  <div class="wrapper first">
   <div class="column-3">
    <h2>O IEEE</h2>
    <p>Hoje, o Instituto de Engenheiros Eletricistas e Eletrônicos é o maior do mundo em número de sócios. Desde sua criação, em 1963, o IEEE configura um padrão internacional para códigos e normas em diversas áreas. Reúne também uma coleção enorme de artigos e editoriais sobre o que se desenvolve pelo mundo.</p>
     <p>Mas, sem sombra de dúvidas, o impacto mais direto e perceptível por nós é a grande participação do instituto nas universidades ao redor do mundo. Com Capítulos e Clubes que se dedicam a temas específicos, o IEEE tem sido um grande incentivador de inovação entre alunos de diversas áreas.</p>
   </div>
   <div class="column-3">
    <h2>A EMBS</h2>
    <p>A sociedade EMBS, Engineering in Medical and Biology Society, é hoje a maior comunidade global focada em Engenharia Biomédica. Presente em mais de 97 países, ela promove conhecimento e integração de apaixonados, além de fomentar ideias ao redor de todo o mundo.</p>
   </div>
   <div class="column-3">
    <div class="ieee">
    </div>
   </div>
  </div>
 </div>
<div id="team">
 <div class="title">
  <div class="wrapper">
   <h1>um conglomerado <br>de <b>apaixonados</b></h1>
  </div>

  <div class="wrapper first">
   <div class="member" id="amanda">
    <div class="name">
     <b>Amanda</b><br> hardware
    </div>
   </div>

   <div class="member" id="camila">
    <div class="name">
     <b>Camila</b><br> software
    </div>
   </div>

   <div class="member" id="cris">
    <div class="name">
     <b>Cris</b><br> software
    </div>
   </div>

   <div class="member" id="daniel">
    <div class="name">
     <b>Daniel</b><br> nãolembro:(
    </div>
   </div>

   <div class="member" id="levy">
    <div class="name">
     <b>Levy</b><br> conselheiro
    </div>
   </div>

   <div class="member" id="malu">
    <div class="name">
     <b>Malu</b><br>design
    </div>
   </div>

   <div class="member" id="raquel">
    <div class="name">
     <b>Raquel</b><br>design
    </div>
   </div>

   <div class="member" id="pedro">
    <div class="name">
     <b>Pedro</b><br>?????
    </div>
   </div>

   <div class="member" id="iracema">
    <div class="name">
     <b>Iracema</b><br>?????
    </div>
   </div>

   <div class="member" id="carol">
    <div class="name">
     <b>Carol</b><br>design
    </div>
   </div>

   <div class="member" id="andre">
    <div class="name">
     <b>Andre</b><br>?????
    </div>
   </div>

   <div class="member" id="lorens">
    <div class="name">
     <b>Lorens</b><br>Software
    </div>
   </div>

   <div class="member" id="natalia">
    <div class="name">
     <b>Natália</b><br>?????
    </div>
   </div>

   <div class="member" id="giovanna">
    <div class="name">
     <b>Giovanna</b><br>design
    </div>
   </div>

 </div>
</div>
</body>

</html>
